*{
    margin: 0%;
}
body{
    background-image: url("nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: rgb(24, 24, 33);
}

header{
    background-color: rgb(24, 24, 33);
    padding: 2%;
}
header h1{
    margin-bottom: 2%;
    align-self: center;
    text-align: center;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 2em;
    padding: 2%;
    margin: 3%;
}
header a:hover{
    background-color: rgb(70, 88, 95);
}

main{
    display: block;
    margin: auto;
    width: 100%;
   
}
#note{
    text-align: center;
    background-color: rgb(16, 16, 24);
    margin: auto;
    width: 90%;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 5%;
}
main .nav-images img{
    width: 95%;
    height: 90%;
    border-radius: 50%/50%;
    border: 6px solid white;
}
.nav-images {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1%;
    padding: 1%;
    
}


footer{
    margin-top: 50%;
    text-align: center;
    background-color: rgb(24, 24, 33);
    padding: 3%;
}